@model IEnumerable<WorkloadWebApp.Models.ProjectTB>
@using System.Globalization

@{
    ViewData["Title"] = "Workload";
}

<form id="DateSelectForm">
    <section class="row" style="margin-top: 10px;">
        <h2 class="col-md-8">Workload Record</h2>

        <div class="col-md-2" role="group">
            <div class="float-right">
                <select onchange="CreateTable()" class="form-control" id="Month" name="Month">
                    @{ for (var i = 1; i < 13; i++)
                        {
                            if (i == DateTime.Now.Month)
                            {
                                <option selected value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                            else
                            {
                                <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-2" role="group">
            <div class="float-right">
                <div>
                    <select onchange="CreateTable()" class="form-control" id="Year" name="Year">
                        @{
                            for (var i = 2018; i <= DateTime.Now.Year; i++)
                            {
                                if (i == DateTime.Now.Year)
                                {
                                    <option selected value="@i">@i</option>
                                }
                                else
                                {
                                    <option value="@i">@i</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
    </section>
</form>

<form id="WorkloadForm">
    <div>
        <table id="WorkloadTable" class="table table-hover">
            <thead id="WorkloadTable_thead">

            </thead>
            
            <tbody id="WorkloadTable_tbody">
                
            </tbody>
        </table>
    </div>
    <div>
        <button onclick="Submit()" type="button" class="btn btn-outline-primary">บันทึกข้อมูล</button>
    </div>
</form>

<script type="text/javascript">

    function calculateSumHour() {
        var intFirstWeek = parseInt(document.getElementById('FirstWeek').value);
        var intLastWeek = parseInt(document.getElementById('LastWeek').value);
        for (var i = intFirstWeek; i <= intLastWeek; i++) {
            var sumHour = 0;
            var sumOfWeek = "sumOfWeek" + i.toString();
            var stdHr = "stdHour" + i.toString();
            var stdHour = document.getElementById(stdHr).value
            var workload = "WorkloadWeek" + i.toString();

            for (var k = 0; k < @Model.Count(); k++) {
                var workloadHr = parseFloat(document.getElementsByName(workload)[k].value);
                
                if (isNaN(workloadHr)) {
                    sumHour = sumHour;
                }
                else {
                    sumHour = sumHour + workloadHr;
                }
            }

            if (sumHour < stdHour) {
                document.getElementById(sumOfWeek).innerHTML = sumHour.toFixed(1);
                document.getElementById(sumOfWeek).style.color = "#ff0000";
            }
            else {
                document.getElementById(sumOfWeek).innerHTML = sumHour.toFixed(1);
                document.getElementById(sumOfWeek).style.color = "#000000";
            }
        }
    }

    function CreateTable() {
        var SelectionForm = $("#DateSelectForm").serialize();
        var JsonData = '@Html.Raw(Json.Encode(Model))';
        var parseData = $.parseJSON(JsonData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateTable", "Workload")',
            data: SelectionForm,
            success: function (response) {
                var FirstDate = response.FirstDateList;
                var LastDate = response.LastDateList;
                var totalWeeks = response.totalWeeks;
                var FirstWeek = response.intFirstWeek;
                var LastWeek = response.intLastWeek;
                var stdHour = response.stdHour;

                var intFirstWeek = parseInt(FirstWeek);
                var intLastWeek = parseInt(LastWeek);

                $("#WorkloadTable_thead").empty();
                $("#WorkloadTable_tbody").empty();

                //Generate table workload header
                $("#WorkloadTable_thead").append('<tr>');
                $("#WorkloadTable_thead").append('<th scope="col">Project</th>');
                for (var i = intFirstWeek; i <= intLastWeek; i++) {
                    $("#WorkloadTable_thead").append('<th id="colWeek' + i + '" scope="col" style="width:100px"><label id="DateWeek' + i + '"></label></th>');
                }
                $("#WorkloadTable_thead").append('<th scope="col">Remark</th>');
                $("#WorkloadTable_thead").append('<tr>');

                //Generate table workload body
                for (var j = 0; j < @Model.Count(); j++)
                {
                    $("#WorkloadTable_tbody").append('<tr>');
                    $("#WorkloadTable_tbody").append('<th scope="row"><input id="ProjectID" name="ProjectID" hidden="hidden" value="' + parseData[j].ProjectID +'"/>' + parseData[j].ProjectName + '</th>');
                    for (var i = intFirstWeek; i <= intLastWeek; i++) {
                        $("#WorkloadTable_tbody").append('<td id="colWeek' + i + '" scope="col"><input id="WorkloadWeek' + i + '" name="WorkloadWeek' + i + '" type="number" style="width:100px" onchange="calculateSumHour()"/></td>');
                    }
                    $("#WorkloadTable_tbody").append('<td><textarea name="Remark"></textarea></td>');
                    $("#WorkloadTable_tbody").append('</tr>');
                }

                $("#WorkloadTable_tbody").append('<tr>');
                $("#WorkloadTable_tbody").append('<th scope="row">Total</th>');
                for (var i = intFirstWeek; i <= intLastWeek; i++) {
                    $("#WorkloadTable_tbody").append('<td id="colWeek' + i + '" scope="col"><label id="sumOfWeek' + i + '"></label></td>');
                }
                $("#WorkloadTable_tbody").append('</tr>');

                $("#WorkloadTable_tbody").append('<tr>');
                $("#WorkloadTable_tbody").append('<th scope="row">Standard Hour</th>');

                for (var i = intFirstWeek; i <= intLastWeek; i++) {
                    $("#WorkloadTable_tbody").append('<td id="colWeek' + i + '" scope="col"><label id="stdHourWeek' + i + '"></label></td>');
                }
                $("#WorkloadTable_tbody").append('</tr>');
                $("#WorkloadTable_tbody").append('<input id="FirstWeek" name="FirstWeek" type="number" hidden="hidden" value="' + FirstWeek + '"/>');
                $("#WorkloadTable_tbody").append('<input id="LastWeek" name="LastWeek" type="number" hidden="hidden" value="' + LastWeek + '"/>');

                for (var i = intFirstWeek; i <= intLastWeek; i++) {
                    var Date = "DateWeek" + i.toString();
                    var stdHr = "stdHourWeek" + i.toString();
                    j = i - intFirstWeek;
                    document.getElementById(Date).innerHTML = FirstDate[j] + "<br>" + LastDate[j];
                    document.getElementById(stdHr).innerHTML = stdHour[j];
                    $("#WorkloadTable_tbody").append('<input id="stdHour' + i + '" name="stdHour' + i + '" type="number" hidden="hidden" value="' + stdHour[j] + '"/>');
                }

                calculateSumHour();
                LoadLastData();
            }
        });
    }

    function Submit() {
        event.preventDefault();
        var SelectionForm = $("#DateSelectForm,#WorkloadForm").serialize();  
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveWorkloadDB", "Workload")',
            data: SelectionForm,
            success: function (response) {
                var alertText = response.name;
                alert(alertText);
            }
        });
    }

    function LoadLastData() {
        event.preventDefault();
        var SelectionForm = $("#DateSelectForm,#WorkloadForm").serialize();
        var JsonData = '@Html.Raw(Json.Encode(Model))';
        var parseData = $.parseJSON(JsonData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadLastData", "Workload")',
            data: SelectionForm,
            success: function (response) {
                var listWorkload = response.list;
                var countList = response.count;
                var intFirstWeek = parseInt(response.intFirstWeek);
                var intLastWeek = parseInt(response.intLastWeek);

                for (var i = 0; i <@Model.Count() ; i++) {
                    for (var j = intFirstWeek; j <= intLastWeek; j++) {
                        var Workload = "WorkloadWeek" + j.toString()
                        var Remark = "Remark";
                        for (var k = 0; k < countList; k++) {
                            if (parseData[i].ProjectID == listWorkload[k].ProjectID && j == listWorkload[k].Week) {
                                document.getElementsByName(Workload)[i].value = listWorkload[k].Workload;
                                document.getElementsByName(Remark)[i].value = listWorkload[k].Remark;
                            }
                        }                      
                    }
                }
                calculateSumHour();
            }
        });
    }

    window.onload = function () {
        CreateTable();
    }


</script>



